:root {
  --main-text-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* background-color: rgba(0, 0, 0, 0.959); */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border-radius: 9px;
}
button:hover {
  background-color: #000;
  color: #fff;
}

.space-between {
  justify-content: space-between;
}

.container_header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.904);
}
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.top-menu-item {
  padding: 12px 0;
  align-items: center;
  display: block;
  position: sticky;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.3);
  transform: all 0.3s ease;
}

.top.active {
  background-color: white;
}

.top:hover {
  background-color: white;
}

.top-logo {
  flex: 1;
}
.top-logo a img {
  width: 206px;
  height: 60px;
}
.top-menu-items {
  flex: 3;
}

.login a {
  width: 80px;
  font-size: 18px;
  color: rgb(224, 224, 43);
}

.top-menu-items > ul {
  height: 100%;
  display: flex;
}
/*Này dùng để chỉnh menu lớn ở trang ngoài*/
.top-menu-items > ul > li {
  font-family: var(--main-text-font);
  padding: 0 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: wheat;
}

.top-menu-items > ul > li:hover {
  color: gold;
}

.top-menu-items ul li::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  bottom: -50%;
}

.text-menu a {
  color: wheat !important;
}

.text-menu a:hover {
  color: gold !important;
}

.top-menu-item {
  position: absolute;
  width: 200px;
  top: 100px;
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: black;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid gold;
}

.top-menu-item li:hover {
  background-color: gold;
  border-radius: 5px;
  padding-left: 5px;
}

.top-menu-item li:hover a {
  color: rgb(70, 67, 67);
}

.top-menu-items ul li:hover .top-menu-item {
  display: block;
  top: 66px;
  opacity: 1;
}

.top-menu-item li {
  line-height: 25px;
  display: flex;
  justify-content: left !important;
}

.top-menu-item li a {
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
  color: wheat;
  font-family: var(--main-text-font);
}

/*top-menu-icons*/
.top-menu-icons {
  flex: 1;
}

.top-menu-icons ul {
  display: flex;
  height: 100%;
}

.top-menu-icons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  position: relative;
}
.top-menu-icons ul li:first-child {
  position: relative;
}
.top-menu-icons ul li:first-child i {
  font-size: 18px;
  color: #fff;
}
.top-menu-icons ul li a {
  color: wheat;
  text-wrap: nowrap;
}

.top-menu-icons ul li:first-child button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  color: wheat;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 20px;
  transform: translateY(-50%);
}
.top-menu-icons ul i {
  cursor: pointer;
  font-size: 25px;
  color: wheat;
}
.top-menu-icons ul li::before {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #333;
  right: 0;
}

.top-menu-icons ul li:last-child::before {
  display: none;
}
.top-menu-icons ul li:first-child input::placeholder {
  color: wheat;
}
.top-menu-icons ul li:first-child input {
  width: 200px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid#333;
  padding: 0 0 4px 6px;
  color: wheat;
}

/*Dấu gạch ngang cuối trang đó*/
#Slide {
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  overflow: hidden;
}

/*Dấu chấm tròn*/
.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 0.3s;
  top: 60px;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dot-container {
  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 6px; /* Reduces margin for more balanced spacing */
  transition: background-color 0.3s ease; /* Adds a transition effect */
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
/*-----------------------app--------------------*/
.app-container {
  text-align: center;

  padding: 150px 0px 50px 0; /*150px: khoảng cách giữa phần tử vs bên trên | 0px: bên phải | 50px:dưới còn lạ là bên trái */
}

.app-google img {
  margin: 50px;
}

.app-container p {
  line-height: 20px;
  letter-spacing: 1px; /*khoảng cách giữa các chữ*/
  font-size: 28px;
  color: #000;
  font-weight: bold;
}

.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
}

/*-----------------------footer--------------------*/
.footer {
  text-align: center;
}

.footer-top {
  display: flex; /*này từ hàng dọc sẽ chuyển thành hàng ngang*/
  /*text-align: center;*/
  justify-content: center; /*Này nó đưa một mớ chỗ từ dòng chuyển thành ngang ra giữa*/
  /*align-items: center;*/
  margin-bottom: 20px; /*ngăn cách với khoản dưới*/
  height: 70px;
}

.footer-top img {
  height: 50px;
}

.footer-top li {
  padding: 0 12px; /*khoảng cách giữa các cái hàng dọc mà biến thành hàng ngang á*/
  position: relative; /*có cái này thì cái thag dưới mới hoạt động được*/
}

/* css dưới là tạo mấy dấu gạc ngang á*/
.footer-top li::after {
  content: "";
  display: block;
  width: 1px; /*bề rộng*/
  height: 30%;
  background: #ccc;
  position: absolute;
  right: 0px;
  top: 0%;
}

.cty {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 19px;
}

/*Caterory*/
/*khoảng cách vs phần trên đầu nó*/
.cartegory {
  padding: 100px 0 0;
}
.cartegory-top a > p:hover {
  text-decoration: underline;
  color: blue;
  transition: all 0.3s;
}

.cartegory-top p {
  /*Phôn chữ đã được định nghĩa từ trước*/
  font-family: var(--main-text-font);
  margin: 0 12px; /* này có nghĩa là trên dưới 0, trái phải 12px*/
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 3px;
}

.cartegory-left {
  width: 20%;
}

.cartegory-right {
  width: 80%;
}

.cartegory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: var(--main-text-font);
  font-weight: bold;
}

/*hÀNG NỮ MỚI VỀ,BỘ LỌC QUA PHẢI,SẮP XẾP QUA PHẢI*/
.cartegory-right-top-item {
  /*có class row nó sẽ định dạng mấy cái đó theo cột*/
  flex: 1;
  padding: 0 12px;
}

.cartegory-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex; /*Cho nó căng giữa*/
  justify-content: space-between;
  background-color: white;
  border: 1px solid #dddddd;
  cursor: pointer; /*khi đưa chuột vào hiện bàn tay */
}

.cartegory-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex; /*Cho nó căng giữa*/
  justify-content: space-between;
  background-color: white;
  border: 1px solid #dddddd;
  cursor: pointer; /*khi đưa chuột vào hiện bàn tay */
}

/*css các ảnh*/
.cartegory-right-content {
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
}

.cartegory-right-content-item {
  width: calc(25% - 15px);
  text-align: center;
  padding: 12px 0;
  border: 1px solid black;
  border-radius: 15px;
  margin: 15px 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.cartegory-right-content-item:hover {
  box-shadow: 0 0 10px rgb(118, 22, 197);
  transform: translateY(-10px);
  border: none;
}

.cartegory-right-content-item h1 {
  font-size: 17px;
  font-family: var(--main-text-font);
  margin-top: 6px;
  color: #000;
}

.cartegory-right-content-item img {
  width: 100%;
  height: 300px;
}
.cartegory-right-content-item p {
  font-size: 15px;
  color: red;
}

.cartegory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%; /*nó tách ra hai bên*/
}

.cartegory-right-bottom p {
  font-family: var(--main-text-font);
  font-size: 12px;
}
/* CHỉnh các cái kiểu chữ bên trái*/
.cartegory-left ul li {
  padding: 12px 0;
}

.cartegory-left ul li > a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--main-text-font);
}

.cartegory-left ul li ul li {
  padding-left: 10px;
}

.cartegory-left-li ul {
  display: none;
}

/*Khi để cái này chỗ đây thì bỏ cái block zô cartegory-left-li thì mấy cái con kia nó sẽ hiện ra */
.cartegory-left-li.block ul {
  display: block;
}

.cartegory-left ul li ul li a {
  color: #333;
  font-size: 12px;
}

/*product*/ /*-----------------------*/
.product {
  padding: 100px 0 0;
}

.product-top {
  /*tREN DƯỚI CÁCH 50px*/
  margin-bottom: 30px;
}
.product-top > a > p:hover {
  color: blue;
  text-decoration: underline;
}
.product-top p {
  /*Phôn chữ đã được định nghĩa từ trước*/
  font-family: var(--main-text-font);
  margin: 0 12px; /* này có nghĩa là trên dưới 0, trái phải 12px*/
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  color: #000;
  transition: all 0.3s;
}

.product-content-left {
  width: 40%;
}

/*Chỉnh ảnh cỡ lớn*/
.product-content-left-big-img {
  width: 80%;
  margin: 0 20px;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Chỉnh ảnh lớn hơn cỡ lớn*/
.product-content-left-big-img img {
  /*Này dùng chỉ để chỉnh ảnh cỡ lớn thôi*/
  width: 90%;
  height: 350px;
}

.product-content-right {
  width: 50%;
  margin-left: 50px;
}

/*Các css về số liệu của sản phẩm*/
.product-content-right-product-name h1 {
  font-family: var(--main-text-font);
  font-size: 25px;
}

.product-content-right-product-name p {
  color: #cccccc;
  font-size: 12px;
}

.product-content-right-product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--main-text-font);
}

.product-content-right-product-color img {
  width: 30px;
  height: 30px;
  /*Dùng để gọt góc cạnh*/
  border-radius: 50%;
}

.product-content-right-product-color-img {
  height: 40px;
  width: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}
/*làm về size*/
.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  margin: 12px 10px 12px 0;
  cursor: pointer;
}

.size span:last-child {
  text-decoration: line-through;
  color: gray;
}

.quantity {
  display: flex;
  margin-bottom: 20px;
}

.quantity input {
  width: 30px;
  padding-left: 3px;
}

.product-content-right-product-button button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px 0;
  transition: all 1s ease; /*Thời gian nó nhấp nháy đồ các kiểu*/
}

.product-content-right-product-button button:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border: 2px solid black;
  cursor: pointer;
}

.product-content-right-product-button button:first-child:hover {
  background-color: black;
  color: #ffff;
}

.product-content-right-product-button button:last-child {
  border: 2px solid #bf8a49;
  color: #bf8a49;
  background-color: #ffff;
  cursor: pointer;
}

.product-content-right-product-icon {
  display: flex;
}

.product-content-right-product-icon-item {
  display: flex;
  margin: 0 12px 14px 0;
  justify-content: center;
  align-items: center;
}

.product-content-right-product-icon-item i {
  font-size: 12px;
  margin-right: 8px;
}

.product-content-right-buttom {
  padding-top: 40px;
  border-top: 1px solid #dddddd;
  position: relative;
}

.product-content-right-buttom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #3333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

/*css cho những chi, bảo quản*/
.product-content-right-buttom-content-title {
  border-bottom: 2px solid #dddddd;
}

.product-content-right-buttom-content-title-item {
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}

.product-content-right-buttom-content-title-item p {
  font-family: var(--main-text-font);
  font-size: 16px;
}

.product-content-right-buttom-content {
  padding-top: 30px;
}

.product-content-right-buttom-content {
  font-family: var(--main-text-font);
  font-size: 12px;
}
/*Mục đích của css này là để khi mik vào trang á là lúc đầu nó sẽ hiện cả chi tiết và bảo quản, nhưng vs điều chỉnh css này thì nó sẽ mất phần bảo quản như thế mới đúng*/
.product-content-right-buttom-content-baoquan {
  display: none;
}

.activeB {
  display: none;
}

/*Product-relate*/
.product-related {
  margin-bottom: 50px;
}

.product-related-title {
  margin: 20px 0;
}

.product-related-title p {
  font-family: var(--main-text-font);
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.product-related-item {
  width: 20%;

  padding: 0 6px;
}

.product-related-item img {
  width: 100%;
}

.product-related-item h1 {
  font-family: var(--main-text-font);
  font-size: 11px;
  color: #333333;
  margin-top: 6px;
}

.product-related-item p {
  font-size: 12px;
}
/*Cart------------------------------------------*/
/*Trang giỏ hàng*/
.cart {
  padding: 100px 0;
}

.cart-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-top {
  /*Này nó tạo cái đường gạch ngang*/
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  /*Này là đưa mấy cái dấu kia lên đường ngang*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

/*css cho cái khung tròn của mấy cái icon*/
.cart-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.cart-top-item i {
  color: #dddddd;
}

.cart-top-cart {
  border: 1px solid #0db7ea;
}

.cart-top-cart i {
  color: #0db7ea;
}

.cart-content-left {
  flex: 2;
  padding-right: 12px;
}

.cart-content-left table {
  width: 100%;
  text-align: center;
}

.cart-content-left table th {
  padding-bottom: 30px;
  font-family: var(--main-text-font);
  font-size: 12px;
  /*Chuyển tất cả chữ cái trong một bản thành chữ in hoa*/
  text-transform: uppercase;
  color: #333;
  /*Dùng để gộp các đường viền của bảng lại với nhau*/
  border-collapse: collapse;
  /*Này là viền dưới cái 3 cái tiêu đề của cái bảng á*/
  border-bottom: 2px solid #dddddd;
}

.cart-content-left table p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
}

.cart-content-left table input {
  width: 30px;
}

.cart-content-left table span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.cart-content-left table td {
  padding: 20px 0;
  /*Đường viền cuối*/
  border-bottom: 2px solid #dddddd;
}

.cart-content-left td:first-child img {
  width: 130px;
}

.cart-content-left td:nth-child(2) {
  max-width: 130px;
}

.cart-content-left td:nth-child(3) img {
  max-width: 30px;
}

/*Dấu gạch ở giữa*/
.cart-content-right {
  /* Chiếm một không gian trong cái thag màchứa nó*/
  flex: 1;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
}

.cart-content-right table {
  width: 100%;
}

.cart-content-right table th {
  padding-bottom: 30px;
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}

.cart-content-right table td {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  /*Chỗ này nó sẽ điều chỉnh cá khoảng cách giữa tổng sản phẩm, tổng tiền hàng với cái tạm tính*/
  padding: 6px;
  font-weight: bold;
}

.cart-content-right tr:nth-child(4) td {
  border-bottom: 2px solid#dddddd;
}

.cart-content-right tr td:last-child {
  text-align: right;
}

.cart-content-right-text {
  margin: 20px 0;
  text-align: center;
}

.cart-content-right-text p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
}

.cart-content-right-button {
  text-align: center;
  align-items: center;
}

.cart-content-right-button button {
  padding: 0 18px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s;
}

.cart-content-right-button .btn-link,
.cart-content-right-button .btn-link1 {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  margin-right: 20px;
}
.cart-content-right-button .btn-link a,
.cart-content-right-button .btn-link1 a {
  color: #fff;
}
.cart-content-right-button .btn-link:hover a,
.cart-content-right-button .btn-link1:hover a {
  color: #000;
}
.cart-content-right-button .btn-link:hover,
.cart-content-right-button .btn-link1:hover {
  background: transparent;
  transform: scale(1.1);
}

.cart-content-right-dangnhap {
  margin-top: 20px;
}

.cart-content-right-dangnhap p {
  font-family: var(--main-text-font);
  font-size: 12px;
  color: #333;
  font-weight: #333;
}

/*-------delivery--------*/
.delivery {
  padding: 100px 0;
  margin-left: 70px;
}

.delivery-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}

.delivery-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.delivery-top-item {
  color: #dddddd;
}

.delivery-top-adress {
  border: 1px solid #0db7ea;
}

.delivery-top-adress i {
  color: #0db7ea;
}

.delivery-content-left {
  width: 60%;
  padding-right: 12px;
}

.delivery-content-left p {
  font-family: var(--main-text-font);
  font-size: 12px;
}

.delivery-content-left label {
  font-family: var(--main-text-font);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  /*Có này nó sẽ trở thành một hàng*/
  display: block;
}

.delivery-content-left > p {
  font-weight: bold;
  font-size: 16px;
}

.delivery-content-left-input-top {
  justify-content: space-between;
}

.delivery-content-left-input-top-item {
  width: calc(50%-12px);
}

.delivery-content-left-input-top-item input,
.delivery-content-left-input-bottom input {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding-left: 6px;
  border-radius: 6px;
}
.delivery-content-left-button {
  transition: all 0.3s;
}
.delivery-content-left-button p {
  display: inline-block;
  font-family: var(--main-text-font);
  font-size: 12px;
}
.delivery-content-left-button > a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: blue;
}
.delivery-content-left-button span {
  margin-right: 12px;
}

.delivery-content-left-button {
  justify-content: space-between;
  padding-top: 20px;
}

.delivery-content-left-button button {
  height: 35px;
  border: 2px solid black;
  padding: 6px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
}

.delivery-content-left-button button:hover {
  background-color: white;
  color: #000;
  transform: scale(1.1);
}

/*đường gạch ở chính giữa*/
.delivery-content-right {
  width: 40%;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
  height: auto;
}

.delivery-content-right table {
  width: 100%;
  font-family: var(--main-text-font);
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
}

.delivery-content-right table tr th:first-child {
  text-align: left;
}

.delivery-content-right table tr th {
  padding-bottom: 12px;
  border-bottom: 2px solid #dddddd;
}

.delivery-content-right table tr th:last-child {
  text-align: right;
}

.delivery-content-right table tr td {
  padding: 6px 0;
}

.delivery-content-right table tr:nth-child(4) {
  border-top: 2px solid #dddddd;
}

.delivery-content-right table tr td:last-child {
  text-align: right;
}

.delivery-content-right table tr td:first-child {
  text-align: left;
}

/*PAYMENT-------------------------------*/
.payment {
  padding: 100px 0;
}

.payment-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}

.payment-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
}

.payment-top-item i {
  color: #dddddd;
}

.payment-top-payment {
  border: 1px solid #0db7ea;
}

.payment-top-payment i {
  color: #0db7ea;
}

.payment-content-left {
  width: 60%;
}

.payment-content-right {
  width: 40%;
  border-left: 2px solid #ddd;
  padding-left: 12px;
}

.payment-content-left p,
label {
  font-size: 12px;
  font-family: var(--main-text-font);
}

.payment-content-right-button {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px dashed #dddddd;
}

/*css cho dấu tích*/
.payment-content-right-button input {
  height: 30px;
  width: 200px;
  margin-right: 100px;
  padding-left: 12px;
}

.payment-content-right-button button {
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
}

/*css cho option*/
.payment-content-right-mnv select {
  height: 30px;
  width: 100%;
  color: #75758a;
  padding-left: 12px;
}

.payment-content-right-payment {
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.payment-content-right-payment button {
  height: 35px;
  padding: 0 20px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
}

.payment-content-right-payment button:hover {
  background-color: black;
  color: #fff;
}

.payment-content-left-method-payment-item-img img {
  width: 30%;
  height: 10%;
  cursor: pointer;
}
.button_product {
  background: #fff;
  border: #0b0000 1px solid;
  color: #0b0000;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 25px;
  position: relative;
  font-size: 13px;
  height: 35px;
  line-height: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
